<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :city_from %>
    <%= f.select(:city_from, APP_CONFIG.split(" "), class: "form-control", id: "city_from") %>
  </div>

  <div class="form-group">
    <%= f.label :city_to %>
    <%= f.select(:city_to, APP_CONFIG.split(" "), class: "form-control", id: "city_to") %>
  </div>

  <div class="form-group">
    <%= f.label :departure %>
    <%= f.text_field :departure, hide_label: true, class: 'datepicker' %>
  </div>

  <div class="form-group">
    <%= f.label :arrival %>
    <%= f.text_field :arrival, hide_label: true, class: 'datepicker' %>
  </div>

  <div class="form-group">
    <%= f.label :tickets_count %>
    <%= f.number_field :tickets_count, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
