<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Trips</h2>
      <%= link_to 'New Trip', new_trip_path, :class => 'btn btn-primary btn-sm' %>
      <br>
      <br>

      <form class="form-horizontal">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="City from drive">
          <div class="input-group-btn">
          </div>

          <input type="text" class="form-control" placeholder="City to drive">
          <div class="input-group-btn">
          </div>

          <input type="text" class="form-control" placeholder="Date">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>

    <div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>City from</th>
            <th>City to</th>
            <th>Date and time when go</th>
            <th>Date and time when arrived</th>
            <th>Tickets count</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @trips.each do |trip| %>
            <tr>
              <td><%= trip.city_from %></td>
              <td><%= trip.city_to %></td>
              <td><%= trip.date_when_go %></td>
              <td><%= trip.date_when_arrived %></td>
              <td><%= trip.tickets_count %></td>
              <td><%= link_to 'Show', trip %></td>
              <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
              <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

