<p>
  <strong>City from:</strong>
  <%= @trip.city_from %>
</p>

<p>
  <strong>City to:</strong>
  <%= @trip.city_to %>
</p>

<p>
  <strong>Date when go:</strong>
  <%= @trip.date_when_go %>
</p>

<p>
  <strong>Date when arrived:</strong>
  <%= @trip.date_when_arrived %>
</p>

<p>
  <strong>Tickets count:</strong>
  <%= @trip.tickets_count %>
</p>

<% @trip.tickets_count.to_i.times do |i| %>
  <label class="checkbox-inline"><input type="checkbox" value=""><%= i + 1 %></label>
<% end %>
<br>

<%= link_to 'Buy ticket', new_trip_ticket_path(@trip), class: 'btn btn-default btn-sm' %> |
<%= link_to 'All buying tickets', trip_tickets_path(@trip), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', trips_path, class: 'btn btn-default btn-sm' %>
