<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <p>
          <strong>City from:</strong>
          <%= @trip.city_from %>
        </p>

        <p>
          <strong>City to:</strong>
          <%= @trip.city_to %>
        </p>

        <p>
          <strong>Departure:</strong>
          <%= @trip.departure %>
        </p>

        <p>
          <strong>Arrival:</strong>
          <%= @trip.arrival %>
        </p>

        <p>
          <strong>Tickets count:</strong>
          <%= @trip.tickets_count %>
        </p>

        <%= render 'tickets/form', ticket: Ticket.new, trip: @trip %>

        <%= link_to 'All buying tickets', trip_tickets_path(@trip), class: 'btn btn-default btn-sm' %> |
        <%= link_to 'Back', trips_path, class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>
</div>
