<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Profile</h2>
        <%= form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>

           <div class="form-group">
            <%= f.label :role %>
            <%= f.text_field :role %>
          </div>
        <% end %>
      </div>
      <br>
      <br>
      <%= link_to 'Edit', edit_user_path, class: 'btn btn-primary btn-sm' %></td>
      <%= link_to 'Change password', edit_user_registration_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
