<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless controller.devise_controller? %>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Pivorak</a>
          </div>
            <ul class="nav pull-right">
              <li>
                <div id="user_nav">
                  <% if user_signed_in? %>
                  Signed in as <%= current_user.email %>
                  <%= link_to "Profile", user_path(current_user), :class => 'btn btn-default btn-sm' %>
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-default btn-sm' %>
                  <% else %>
                  <%= link_to new_user_registration_path do %>
                  <button class="btn btn-info btn-sm">Sign Up</button>
                  <% end %>
                  or <%= link_to new_user_session_path do %>
                  <button class="btn btn-info btn-sm">Sign In</button>
                  <% end %>
                  <% end %>
                </div>
              </li>
            </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>

